In [420]:
''' In the name of God'''
# In this code, we want to use the combination of Connected-based

' In the name of God'

In [421]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [422]:
df1 = pd.read_csv('movies.csv')    # load data
###
for i in range(len(df1.title)):    # delete date of every title
    df1.title[i] = df1.title[i][:len(df1.title[i])-7]
###
for i in range(len(df1.genres)):   # make list for genres
    df1.genres[i] = df1.genres[i].split('|')
df1.genres[0][1]
###
df1.head()

C:\Users\M\AppData\Local\Temp\ipykernel_11980\3604360473.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1.title[i] = df1.title[i][:len(df1.title[i])-7]
C:\Users\M\AppData\Local\Temp\ipykernel_11980\3604360473.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1.genres[i] = df1.genres[i].split('|')

,movieId,title,genres
0,1,Toy Story,"[Adventure, Animation, Children, Comedy, Fantasy]"
1,2,Jumanji,"[Adventure, Children, Fantasy]"
2,3,Grumpier Old Men,"[Comedy, Romance]"
3,4,Waiting to Exhale,"[Comedy, Drama, Romance]"
4,5,Father of the Bride Part II,[Comedy]

In [423]:
# make a list from genres
Genres = list(set([i for genre in df1.genres for i in genre]))
len(Genres)

20

In [424]:
# Categorization genres
for i in Genres:
    df1[i] = df1.movieId
###
for i in range(len(df1.movieId)):
    for ii in Genres:
        if ii in df1.genres[i]:
            df1[ii][i] = 1
        else :
            df1[ii][i] = 0
###
df1 = df1.drop(['genres'],axis=1)
###
df1.head()

C:\Users\M\AppData\Local\Temp\ipykernel_11980\2817640006.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1[ii][i] = 1
C:\Users\M\AppData\Local\Temp\ipykernel_11980\2817640006.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1[ii][i] = 0

,movieId,title,Fantasy,Sci-Fi,Mystery,Romance,Crime,Children,Musical,Adventure,...,Drama,Thriller,Action,War,(no genres listed),IMAX,Western,Documentary,Comedy,Animation
0,1,Toy Story,1,0,0,0,0,1,0,1,...,0,0,0,0,0,0,0,0,1,1
1,2,Jumanji,1,0,0,0,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
2,3,Grumpier Old Men,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,4,Waiting to Exhale,0,0,0,1,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
4,5,Father of the Bride Part II,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0

In [425]:
df1[Genres]

,Fantasy,Sci-Fi,Mystery,Romance,Crime,Children,Musical,Adventure,Horror,Film-Noir,Drama,Thriller,Action,War,(no genres listed),IMAX,Western,Documentary,Comedy,Animation
0,1,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,1,1
1,1,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0
2,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
3,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0
4,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9737,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,1
9738,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1
9739,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0
9740,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1
9741,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0

In [426]:
# The person we want to introduce the film to
Target = {'Waiting to Exhale' : 3.2 , 'Jumanji' : 1.8 , 'Grumpier Old Men' : 4.7 , 'Father of the Bride Part II' : 4.1}
#####
# Weigh each genre
def G_csore(target_dict):
    target_list = [i for i in target_dict.keys()]
    target_score = [i for i in target_dict.values()]
    ###
    weighted = []
    titles = [i for i in df1['title']]
    ###
    for i in range(len(target_list)):
        l = []
        for genre in Genres:
            l.append(df1[genre][titles.index(target_list[i])])
        weighted.append(l)
    ###
    for x in range(len(weighted)) :
        for xx in range(len(weighted[x])):
            weighted[x][xx] = target_score[x] * weighted[x][xx]
    ###
    scores = [0 for i in range(len(weighted[0]))]
    for x in range(len(weighted)):
        for i in range(len(weighted[0])):
            scores[i] += weighted[x][i]
    ###
    summ = sum(scores)
    for i in range(len(scores)) :
        scores[i] = scores[i] / summ
    return scores

In [427]:
def list_genre(name):
    titles = [i for i in df1['title']]
    l = []
    for i in Genres:
        l.append(df1[i][titles.index(name)])
    return l
#####
def all(): # Multiply the weights in the animals
    Df = df1
    scores = G_csore(Target)
    for i in Genres:
        Df[i] = Df[i] * scores[Genres.index(i)]
    ###
    Df['SUM'] = 0 
    ###
    for i in Genres:
        Df['SUM'] += Df[i]
    Df['SUM'] = Df['SUM'] * 5
    return(Df)
###
all_list = [i for i in all().SUM]

In [428]:
best_films =[]
best = {}
for i in all_list:
    best_films.append(float(i))
###
for i in range(10):
    best[ df1.title[best_films.index(max(best_films))] ] = max(best_films)
    best_films.pop(best_films.index(max(best_films)))


best  # 10 Top Films

{'Mulan': 4.6842105263157885,
 'Lake House, The': 4.6842105263157885,
 'Divergent': 4.6842105263157885,
 "Kid in King Arthur's Court, A": 4.438596491228069,
 'Startup.com': 4.438596491228069,
 'Evening with Kevin Smith 2: Evening Harder, An': 4.438596491228069,
 'Girls About Town': 4.438596491228069,
 'Seeking Justice': 4.438596491228069,
 'Home Alone': 4.368421052631578,
 'Night of the Living Dead': 4.368421052631578}

In [429]:
#################################################

In [501]:
data = pd.read_csv('rating.csv').drop('timestamp',axis=1)
df2 = pd.DataFrame(data.groupby('userId'),columns=['userID','ratings'])
###
Target = {'4' : 3.2 , '2' : 1.8 , '3' : 4.7 , '5' : 4.1}
data

        userId  movieId  rating
0            1        1     4.0
1            1        3     4.0
2            1        6     4.0
3            1       47     5.0
4            1       50     5.0
...        ...      ...     ...
100831     610   166534     4.0
100832     610   168248     5.0
100833     610   168250     5.0
100834     610   168252     5.0
100835     610   170875     3.0

[100836 rows x 3 columns]

[ ∑ (x-mean(x)) * (y-mean(y)) ]  /  [ sqrt(∑ (x-mean(x))**2) * sqrt(∑ (y-mean(y))**2) ]

In [580]:
# delete_list = []
# delete_rows = []
# for i in range(610):
#     c = 0
#     for id in df2.ratings[i]['movieId']:
#         if str(id) in Target.keys():
#             c += 1
#             break
#     if c == 0:
#         delete_list.append(df2.userID[i])
# ###
# for i in range(len(data.userId)):
#     if data.userId[i] in delete_list:
#        delete_rows.append(i) 
# ###
# data = data.drop(delete_rows)
# data


# data2 = data
# delete_rows2 = []
# ###
# for i in list(data2.index):
#     c = 0
#     if str(data2.movieId[i]) in Target.keys():
#         c += 1
#     if c == 0 :
#         delete_rows2.append(i)
# data2 = pd.DataFrame(data2.drop(delete_rows2).groupby('userId'),columns=['userId','ratings'])
# data2.ratings[0]



# # Pearson function
# def pearson(dic):  # ( (X- mean(X_list)) * (Y- mean(Y_list)) ) / (  )
#     X = []
#     Y = []
#     for i in dic.keys():
#         X.append(dic[i])
#         Y.append(Target[i])
#     Soc1 = 0
#     Soc2 = 0
#     Soc3 = 0
#     for i in range(len(X)):
#         Soc1 += X[i] * Y[i]
#         Soc2 += X[i] ** 2
#         Soc3 += Y[i] ** 2
#     ###
#     if len(X)*Soc2-(sum(X)**2) != 0 and len(Y)*Soc3-(sum(Y)**2) != 0 :
#         return( ( len(X) * Soc1 - (sum(X)*sum(Y)) )/( np.sqrt( (len(X)*Soc2-(sum(X)**2)) * (len(Y)*Soc3-(sum(Y)**2)) ) ) )
#     else:
#         return 0


# weight = pd.DataFrame(data2.userId,dtype='float32')
# weight['weights'] = data2.userId
# ###
# for i in range(158):
#     my_dic = {}
#     keys = data2.ratings[i]['movieId'].values
#     values = data2.ratings[i]['rating'].values
#     for ii in range(len(keys)):
#         my_dic[str(keys[ii])] = values[ii]
#     weight['weights'][i] = float(pearson(my_dic))
# ###
# weight.weights.values

C:\Users\M\AppData\Local\Temp\ipykernel_11980\3406865638.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  weight['weights'][i] = float(pearson(my_dic))

array([ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0, -1, -1,
        0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
        0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
        0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  1,  0,  0,  0,  0,  0,  0,
        0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
        0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
        0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
        0,  0, -1,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
        0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
        0,  0, -1,  0,  0], dtype=int64)